*.iml
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/**
*.apk
*.aar
*.jar
*.sum
.go.mod.swap
bin/
